@font-face {
  font-family: 'DISTANT GALAXY';
  font-style: normal;
  font-weight: normal;
  src: local('DISTANT GALAXY'), url('../media/distant_galaxy.ttf') format('truetype');
}

body {
  background: #000 url('../media/bg.jpg');
  font-family: 'DISTANT GALAXY', Verdana, sans-serif;
  color: white;
}

#home {
  display: flex;
  flex-wrap: wrap;
}

#home a {
  border: 2px solid goldenrod;
  color: white;
  text-align: center;
  padding: 2em;
  text-decoration: none;
  flex: 1 0 47%;
  font-size: 1.5em;
  margin: 0.5em;
  transition: all .2s ease-in-out;
}

#home a:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

#main-content {
  letter-spacing: 5px;
  padding: 0 2em;
  max-width: 900px;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.hidden > a {
  cursor: default;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.obvious {
  padding: 2em;
  border: 5px solid goldenrod;
  font-size: 3em;
  text-decoration: none;
  transition: font-size .2s ease-in-out;
  color: white;
}

.obvious:hover {
  font-size: 3.5em;
  text-decoration: underline;
}
