* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'DISTANT GALAXY', Verdana, sans-serif;
  height: 100%;
}

@keyframes move-twink-back {
  from { background-position:0 0; }
  to { background-position:-10000px 5000px; }
}
@-webkit-keyframes move-twink-back {
  from { background-position:0 0; }
  to { background-position:-10000px 5000px; }
}
@-moz-keyframes move-twink-back {
  from { background-position:0 0; }
  to { background-position:-10000px 5000px; }
}
@-ms-keyframes move-twink-back {
  from { background-position:0 0; }
  to { background-position:-10000px 5000px; }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* float: left; */
  height: 100%;
  width: 100%;
  display: block;
}

.stars {
  background:#000 url('../media/stars.png') repeat top center;
  z-index: -2;
}

.twinkling{
  background:transparent url('../media/twinkling.png') repeat top center;
  z-index: -1;
  animation: move-twink-back 200s linear infinite;
}

@font-face {
  font-family: 'DISTANT GALAXY';
  font-style: normal;
  font-weight: normal;
  src: local('DISTANT GALAXY'), url('../media/distant_galaxy.ttf') format('truetype');
}

#home {
  display: flex;
  flex-wrap: wrap;
}

#home a {
  border: 2px solid goldenrod;
  color: white;
  text-align: center;
  padding: 1.8em;
  text-decoration: none;
  flex: 1 0 46%;
  font-size: 1.5em;
  margin: 0.5em;
  border-radius: 20px;
  transition: all .2s ease-in-out;
}

#home a:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

#main-content {
  letter-spacing: 5px;
  padding: 0 2em;
  max-width: 900px;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
  padding: 0 5px;
}

.hidden {
  visibility: hidden;
}

.hidden > a {
  cursor: default;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.obvious {
  padding: 2em;
  border: 5px solid goldenrod;
  font-size: 3em;
  text-decoration: none;
  transition: font-size .2s ease-in-out;
  color: white;
}

.obvious:hover {
  font-size: 3.5em;
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  #home a {
    font-size: 1em;
  }

  #header {
    flex-direction: column;
  }

  h1.title {
    margin: 0;
  }
}
